[submodule "src/third_party/eigen"]
	path = src/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/third_party/pybind11"]
	path = src/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
