# Note that opencv-python has known issues with conda. If there are
# any gui related issues, an opencv source install is prefereable.
attrs==20.2.0
msgpack==1.0.0
numpy==1.22.0
opencv-python==4.4.0.42
pytest==6.0.2
PyYAML==5.3.1
setuptools==50.3.0
wheel==0.35.1